
.my-color {
	color: red;
}

a {
	color: darkblue;
	text-decoration: none;
}

.body {
	background: rgb(194, 204, 196);
}

.loginContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.imageDiv {
	display: flex;
	width: 30%;
	margin-right: 0;  /* ensures no margin on the right */
	padding-right: 0;  /* ensures no padding on the right */
	/*margin-top: 177px;*/
	/*margin-bottom: 10px;*/
	/*align-items: flex-end;*/
	/*Width: 50%;*/
	/*Background-image: url("../login/assets/non-shall-pass-background.jpeg");*/
	/*Background-repeat: no-repeat;*/
}

.imageDiv img {
	width: 100%;  /* make the image fill its container */
	height: 100%;  /* make the image fill its container */
	object-fit: cover;
}

.my-font {
	font-size: 14px;
	font-family: Inter, serif !important;
}

.my-root-class {
	background: rgb(194, 204, 196);
}

#kc-form-options .checkbox {
	margin-top: 0;
	color: black;
}

.my-root-class .card-pf {
	display: flex;
	width: 100%;
	background: rgba(255, 255, 255, 0.8);
}

.my-root-class .kc-registration  {
	color: #fff;
}